<!-- footer -->
<div class="footer">
      <div class="footer-container">
        <div class="footer-content">
          <h2>About Us</h2>
          At Finance Castle, we are driven by a passion for empowering individuals to take control of their financial futures. Established with a vision to demystify finance, we believe that financial literacy is the key to achieving financial success and security.
        </div>
        <div class="footer-content">
          <h2>Partnership</h2>
          We engage with industry experts and financial influencers to provide you with diverse perspectives and insights into the world of finance. These partnerships enrich our content and keep you informed about emerging trends and best practices.
        </div>
        <div class="footer-content">
          <h2>Support</h2>
          At finance castle, we are committed to providing exceptional support to our users. Whether you have questions about our content, need assistance with financial tools, or require help with a specific financial issue, we're here to assist you. 
        </div>
      </div>
      <div class="footer-line"></div>
      <div class="footer-email">
        <h2><strong>Subscribe to Our Newsletter</strong></h2>
        <p>Stay up to date with our latest news and updates.</p>
        <form>
          <input type="email" placeholder="Your Email" style="font-weight: bold; background-color: rgb(178, 178, 206);">
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <p>All rights reserved &copy; 2023 Devloped  by Ashutosh Shukla</p>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
      
      </body>
      </html>