{% extends 'base.html' %}
{% block content %}

  <div class="container">
      <div class="concept">
        <h2>What Is Foreign Exchange?</h2>

<p>
  Foreign exchange refers to exchanging the currency of one country for another at prevailing exchange rates

Let us take a close look at the meaning of foreign exchange. Different countries have different currencies. Foreign exchange converts the currency of one country into another.
<br>
<br>
Now, let’s find an answer to what is forex? Foreign exchange is also called forex in short.
<br>
<br>
We have seen what foreign exchange is. We will go through the advantages of foreign exchange. Foreign exchange is required for international trade. When India is trading with the United States (US) both INR and USD are involved. If India is importing from the United States, it needs to pay in dollars. When the US is importing from India it would need to pay in rupees. Foreign exchange is also important when a country is investing in another. If the US is investing in India, it has to invest in rupees. Such transactions create a demand for foreign exchange. This is why the foreign exchange market is important.
</p>        <img src="../image/11.jpg" alt="">
      </div>
      <div class="concept">
        <h2>How is a currency valued? </h2>
        <p>
          A currency of a country is valued according to supply and demand. So, it always is in a state of flux. Such kind of exchange rate is known as floating exchange rate. This is the case in a free economy.

Similarly, the value of a rupee is determined by market forces. Factors like imports and exports, interest rates and inflation affect the value of the rupee. It would also depend on political conditions, internally and internationally. Tourism is another factor which influences foreign exchange value. This is why large companies have strategies to manage currency. The idea is to protect their business from currency fluctuations.
        </p>
        <img src="diversification.jpg" alt="Diversification">
      </div>
      <div class="concept">
        <h2>Foreign-exchange reserves of India</h2>
        <p>
          India has large foreign-exchange reserves; holdings of cash, bank deposits, bonds, and other financial assets denominated in currencies other than India's national currency, the Indian rupee. The reserves are managed by the Reserve Bank of India for the Indian government and the main component is foreign currency assets.

Foreign-exchange reserves act as the first line of defense for India in case of economic slowdown, but acquisition of reserves has its own costs.[1] Foreign exchange reserves facilitate external trade and payment and promote orderly development and maintenance of foreign exchange market in India.[2]

India's total foreign exchange (Forex) reserves stand at around US$573.72 billion on 20 Jan 2023, with the Foreign Currency Assets (FCA) component at around US$506.35 billion, Gold Reserves at around US$43.712 billion, SDRs (Special Drawing Rights with the IMF) of around US$18.43 billion and around US$5.226 billion Reserve Position in the IMF, as per Reserve Bank of India's (RBI) weekly statistical supplement published on 27 Jan 2023.[3] The Economic survey of India 2014-15 said India could target foreign exchange reserves of US$750 billion-US$1 Trillion.[4]

India's foreign exchange reserves are mainly composed of US dollar in the forms of US government bonds and institutional bonds.[5][6] with nearly 7.34% of forex reserves in gold. The FCAs also include investments in US Treasury bonds, bonds of other selected governments and deposits with foreign central and commercial banks. As of September 2021, India holds fourth largest foreign-exchange reserves in the world following Switzerland.[7][8]
        </p>
        <img src="risk_return.jpg" alt="Risk and Return">
      </div>
    </div>
    
    {% endblock %}